.single-ad-component {
    &-image {
        min-height: 120px;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px #0000001A;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 1.5rem;
        &-empty {
            background-color: $background-color-white;
        }
    }

    h5 {
        margin-bottom: 1rem;
        font-size: 1.1rem;
    }
    
    p {
        margin-bottom: 5px;
        color: $color-gray;
    }
    
    &-tags {
        margin-top: 1rem;
        p {
            float: right;
            margin-top: 0.5rem;
            margin-bottom: 0;
        }
        .single-ad-component-tag {
            display: inline-block;
            padding: 0.5rem 1rem;
            margin: 0px 5px;
            font-size: 11px;
            border-radius: 5px;
            font-weight: 700;

            &:first-of-type {
                margin-left: 0;
            }

            &-last-of-type {
                margin-right: 0;
            }
            
            &-blue {
                color: $color-dark-blue;
                background-color: $color-light-blue;
            }

            &-orange {
                color: $color-orange;
                background-color: $color-light-orange;
            }

            &-green {
                color: $color-green;
                background-color: $color-light-green;
            }

        }
    }
}