.home {
    .home-hero {
        text-align: center;
        padding: 5rem 0px;
        font-weight: 600;
        h1 {
            margin-bottom: 1.5rem;
        }
    }
    .home-positions {
        margin-bottom: 4rem;
        &-card {
            position: relative;
            padding: 2rem 1rem;
            background-color: $background-color-white;
            box-shadow: 0px 4px 4px 0px #0000000F;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            color: $text-black;
            &::before {
                content:'';
                display: block;
                width: 100%;
                height: 10px;
                position: absolute;
                top:0;
                left: 0;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            p {
                &:first-of-type {
                    font-size: 1.5rem;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                &:nth-child(2) {
                    color: $text-light-gray;
                }
            }
            a {
                color: $link-black;
                font-weight: 600;
            }
        }
        &-card-orange {
            &::before {
                background-color: $color-orange;
            }
        }
        &-card-green {
            &::before {
                background-color: $color-green;
            }
        }
        &-card-blue {
            &::before {
                background-color: $color-blue;
            }
        }
    }
    &-hot-ads {
        padding-top: 4rem;
        padding-bottom: 4rem;
        background-color: $background-color-white;
    }
    &-new-ads {
        padding-top: 4rem;
        // padding-bottom: 4rem;
        h3 {
            margin-bottom: 2rem;
        }
        .single-ad-component {
            background-color: $background-color-white;
            margin-bottom: 1rem;
            padding: 1rem;
        }
        a:not(.link-all) {
            &:hover {
                text-decoration: none;
            }
        }
        .link-all {
            padding-bottom: 2rem;
            font-weight: 600;
            margin: 0 auto;
            padding-top: 1rem;
        }
    }
    &-categories {
        padding-top: 4rem;
        padding-bottom: 4rem;
        background-color: $background-color-black;
        color: $link-white;
        h5 {
            font-size: 1.1rem;
            &::after {
                content:'';
                display: block;
                width: 40px;
                height: 2px;
                margin-top: 1rem;
                margin-bottom: 1rem;
                background: $background-color-blue;
            }
        }
        .col-lg-6 {
            padding-right: 0;
            ul {
                display: grid;
                grid-template-columns: auto  auto;
                @media screen and (max-width:768px) {
                    display: block;
                }
            }
        }
        .col-md-4 {
            margin-top: 1rem;
        }
        ul {
            margin:0;
            padding:0;
            li {
                list-style-type: none;
                a {
                    color: $link-white;
                    line-height: 22px;
                }
            }
        }
    }
}