.single-ad-page {
    margin-top: 2rem;
    &-data {
        background-color: $background-color-white;
        padding-bottom: 2rem;
        .single-ad-component {
            text-align: center;
            h5 {
                margin-top: 1rem;
            }
            &-image {
                max-height: 100px;
                width: 100px;
                border-radius: 1000px;
                height: 100px;
                min-height: 100px;
                margin-left: auto;
                margin-right: auto;
            }
            &-additional-info {
                text-align: left;
                padding-top: 1rem;
                margin-top: 1rem;
                p {
                    font-size: 16px;
                    font-weight: 700;
                    color: $color-black;
                }
                ul li {
                    color: $color-medium-gray;
                }
            }
            &-buttons {
                .button{
                    padding: 7px 35px;
                }
            }
        }
    }
}