
html,body {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: $color-black;
    background-color: $background-color;
}

a {
    color: $link-black;
    &:hover {
        color: $link-black;
    }
}

.button, .button-search {
    padding: 7px 15px;
    display: block;
    font-weight: 500;
    border-radius: 5px;
    border: none;
}

.button-cta-blue, .button-search-blue {
    background-color: $button-cta-blue;
    color: $link-white !important;
}

.button-cta-green {
    background-color: $color-green;
    color: $color-white;
}

.border-bottom-white {
    border-bottom: 1px solid $color-white;
}

.search-bar-input {
    border-radius: 5px;
    &::placeholder {
        color: $color-gray;
        font-size: 12px;
    }
    &:focus, &:focus-visible, &:visited {
        border: none;
        outline:none;
        box-shadow: none;
    }
}

.heading-main {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.text-bold {
    font-weight: 700;
}