$color-blue: #2196F3;
$color-dark-blue: #0062FF;
$color-light-blue: #D0E1FB;
$color-light-orange: rgba(#FE8121, 30%);
$color-light-orange: rgba(#A5CE3B, 30%);

$color-orange: #FE8121;
$color-green: #A5CE3B;
$color-light-gray:#F6F6F6;
$color-black: #3C3C3C;
$color-gray:#848484;
$color-medium-gray:#747373;
$color-white: #FFFFFF;

$heading: $color-black;
$subheading:$color-gray;
$link-black: $color-black;
$link-white: $color-white;
$link-gray: $color-medium-gray;
$link-blue: $color-blue;
$link-hover-blue: $color-dark-blue;

$button-cta-blue: $color-blue;
$button-gray-text:$color-gray;
$button-gray-background: #EDEDEC;

$background-color: $color-light-gray;
